.h-full-width {
    width: 100%;
}
.h-input {
   border: 1px solid #b2b2b2;
   padding: 5px 10px;
   box-sizing: border-box;
   transition: border 0.5s;
}
.h-select {
   border: 1px solid #b2b2b2;
   padding: 5px 10px;
   box-sizing: border-box;
   transition: border 0.5s;
}
.h-error {
    border-color: red !important;
}
.h-error-color {
    color: red !important;
}
.h-input:focus {
    border-color: green;
}
.h-title {
    font: 24px/24px Arial;
    margin: 0;
}
.btn,
.btn.disabled-btn:hover  {
    border-radius: 0;
    padding: 10px 20px;
    border: none;
    background: #eee;
    color: #000;
    transition: color 0.3s, background 0.3s;
}
.btn:visited {
    color: #000;
}
.btn-link:visited,
.btn-link:hover,
.btn-link {
    color: #5f7eb6;
}
.btn:hover{
    background: #c1c1c1;
}
.btn-green,
.btn-green.disabled-btn:hover {
    background: #c0db88;
    color: #000;
}
.btn-green:hover {
    background: #d3e6ac;
}
.btn-red {
    background: #ec8280;
    color: #000;
}
.btn-red:hover {
    background: #ffb1b0;
}
a[ng-click]{
    cursor: pointer;
}
.h-loading {
    display: none;
}
.h-load-end {
    display: block;
}
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    box-sizing: border-box;
    
    .ui-menu-item {
        padding: 5px;
        box-sizing: border-box;

		&.ui-state-focus {
			margin: -1px 0;
			border-right: none;
			border-left: none;
		}
    }
}

.ui-autocomplete-loading {
    background:  url("../img/ui-anim_basic_16x16.gif") no-repeat scroll right center;
}
.modal-header .close {
    padding-right: 8px;
    padding-left: 8px;
}
.pagination > li > a,
.pagination > li > span {
    font-size: 14px;
    color: #000;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background: #a9a9a9;
    border-color: #a9a9a9;
}
.disabled-btn {
    cursor: default;
    opacity: 0.6;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    opacity: 0.5;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #000;
}
.no-wrap {
    white-space: nowrap;
    word-wrap: break-word;
}


@-webkit-keyframes rotate-animate {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes rotate-animate {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes rotate-animate {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-animate {
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.error-field {
    border-color: red !important;
}
.error-message {
    color: red;
    padding: 0 0 15px;
}
.error-message-field {
    padding: 5px 0 0;
}