@media (max-width: 1200px) {
    .b-group .title-param {
        text-align: left;
        margin-top: 10px;
    }
}
@media (max-width: 992px) {
    .col-sm-clear {
        clear: both;
    }
    .row-main-info .text-right {
        text-align: left;
    }
    .b-catalog .info-catalog .item-wrapper {
        border-right-color: transparent;
    }
}
@media (max-width: 768px) {
    .b-group .hide-row .col-more-info-right {
        border-left: none;
    }
    .b-cart .result-info-cart {
		margin-bottom: 0;

		.result-info-item {
			margin-bottom: 10px;
		}
		.button-result-form {
			margin-top: 20px;
		}
	}

    .b-index-select .button-main {
        width: 100%;
    }
    .b-info-restaurant .item-wrapper {
        border: none;
        width: 100%;
        margin-bottom: 5px;
    }
    .b-info-restaurant .item-wrapper .title,
    .b-info-restaurant .item-wrapper .value,
    .b-info-restaurant .item-wrapper .address {
       display: inline-block;
    }
    .b-group .price-wrapper,
    .b-group .row-main-info {
        text-align: center;
    }
    .b-group .item-group .image-wrapper img {
        margin: 0 auto;
    }
    .b-group .title-param {
         margin-top: 0;
    }
    .b-cart {
		.title-cart .wrapper-btn-link {
			margin: 10px 0;
			text-align: center;
		}
		.wrapper-check-rules label {
			display: inline;
		}
		.b-page-form .text-right .form-group {
			text-align: left;
		}
	}
    .b-catalog .sidebar {
        background: none;
    }
    .b-catalog .sidebar .b-menu {
        background-color: #eee
    }
}
@media (max-width: 550px) {
    .mini-mobile-col {
        width: 100%;
    }
    .mini-mobile-title {
        padding-bottom: 10px;
    }
}
@media (max-width: 400px) {
    .b-cart .wrapper-buttons-order {
        width: 100%;
        margin-bottom: 10px;
    }
    .b-cart .wrapper-buttons-order a {
        width: 100%;
    }
}