<div class="col-md-3 col-xs-12">
	<a class="wrapper-logo" ng-if='showHomeIcon()' ng-click="toSelectDelivery($event, '#/')">
		<i class="fa fa-home icon"></i>
		<span class="text"></span>
	</a>
	<div class="restaurant-wrapper">
		<div class="name">{{UserInfo.restaurantInfo.name}}</div>
		<div class="address">{{UserInfo.restaurantInfo.address.formatted_address}}</div>
	</div>
</div>
<div class="col-md-6 col-xs-12">
	<div class="item-wrapper">
		<div class="title">{{getLocale('Delivery times')}}:</div>
		<div class="value status status-open" ng-show="UserInfo.restaurantInfo.status == 'Active'">{{getLocale('Open-restaurant')}}</div>
		<div class="value status status-close" ng-hide="UserInfo.restaurantInfo.status == 'Active'">{{getLocale('Close-restaurant')}}</div>
		<div class="time">{{ UserInfo.restaurantInfo.delivery_period.begin }} - {{ UserInfo.restaurantInfo.delivery_period.end }}</div>
	</div>
	<!--ng-hide="UserInfo.restaurantInfo.delivery_price == undefined"-->
	<div class="item-wrapper" ng-if="UserInfo.typeDelivery == 'delivery'">
		<div class="title">{{getLocale('Delivery costs')}}:</div>
		<div class="address">{{ UserInfo.restaurantInfo.delivery_price | filterNumeric }} {{ Currency }}</div>
	</div>
	<!--ng-hide="UserInfo.restaurantInfo.min_check_amount == undefined"-->
	<div class="item-wrapper" ng-if="UserInfo.typeDelivery == 'delivery'">
		<div class="title">{{getLocale('Minimum')}}:</div>
		<div class="address">{{ UserInfo.restaurantInfo.min_check_amount | filterNumeric }} {{ Currency }}</div>
	</div>
</div>
<div class="col-md-3 text-right col-xs-12 ">
	<div class="b-result-price wrapper-cart" ng-show="CartInfo.ResultCount != '0'">
		<a ng-href="#/cart" class="wrapper-icon">
			<span class="cart-icon fa fa-shopping-cart" title="{{getLocale('Cart')}}">
				<span class="count js-count" ng-class="{'big': CartInfo.ResultCount >= 100 }">{{ CartInfo.ResultCount }}</span>
			</span>
			<div class="result-price" ng-show="CartInfo.ResultSumm != '0'">
				<p class="value">{{ CartInfo.ResultSumm | filterPrice | filterNumeric }} {{ Currency }}</p>
			</div>
		</a>
	</div>
</div>

<!--<div class="b-select-lang">-->
	<!--<a class="item-link" ng-click="selectLang('ru')" ng-class="{'active': currentLocal == 'ru'}">RU</a>-->
	<!--<a class="item-link" ng-click="selectLang('en')" ng-class="{'active': currentLocal == 'en'}">EN</a>-->
<!--</div>-->
