<div class="row b-top-select">
	<div class="col-md-4 col-md-offset-2 col-xs-6">
		<a ng-href="#/select-address" class="button-main btn" ng-class="currentUrl == '/select-address' ? 'disabled' : ''">{{getLocale('Delivery')}}</a>
	</div>
	<div class="col-md-4 col-xs-6">
		<a ng-href="#/select-restaurant" class="button-main btn" ng-class="currentUrl == '/select-restaurant' ? 'disabled' : ''">{{getLocale('Self-delivery')}}</a>
	</div>
</div>