<!DOCTYPE html>
<html lang="en" ng-app="WebDelivery">
<head>
	<title>UCS Delivery</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Cache-Control" content="no-cache">
	<!--<base href="/">-->
	<!--[if lt IE 9]><script src="media/js/html5.js"></script><![endif]-->
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="assets/css/style.css" />
</head>
<body ng-controller="mainCtrl" class="h-loading" scroll ng-class="endLoadClass">
	<div class="b-content" ng-view></div>
	<ui-view></ui-view>
	<div class="modal modal-danger b-modal" id="error-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ng-click="CloseError()" aria-label="Close"><span aria-hidden="true">×</span></button>
					<h4 class="modal-title">{{ TitlePopup }}</h4>
				</div>
				<div class="modal-body">
					{{Message}}
					<div class="detail-error" ng-if="showDetailError" ng-show="fullMessage.text">

						<a href="javascript:void(0);" class="btn-switch" ng-click="toggleDetailError()">
							{{getLocale('Detailed description error')}}
							<i class="fa fa-angle-double-up" ng-show="hideDetailError"></i>
							<i class="fa fa-angle-double-down" ng-hide="hideDetailError"></i>
						</a>

						<div ng-show="hideDetailError" class="body-error">
							<p ng-show="fullMessage.text">{{getLocale('Error')}}: <strong>«{{fullMessage.text}}»</strong><p>
							<p ng-show="fullMessage.code">{{getLocale('Code error')}}: <strong>«{{fullMessage.code}}»</strong><p>
							<p ng-show="fullMessage.details">{{getLocale('Detailed description error')}}: <strong>«{{fullMessage.details}}»</strong><p>
						</div>
					</div>
				</div>
				<div class="modal-footer" ng-show="!multiButton">
					<button type="button" class="btn btn-outline pull-right" ng-click="CloseError()">{{getLocale('Ok')}}</button>
				</div>
				<div class="modal-footer" ng-show="multiButton">
					<button type="button" class="btn btn-red pull-right" ng-click="callbackCancel()">{{getLocale('No')}}</button>
					<button type="button" class="btn btn-green pull-right" ng-click="callbackOk()">{{getLocale('Yes')}}</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal modal-danger b-modal" id="payments-modal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ng-click="ClosePaymentsMessage()" aria-label="Close"><span aria-hidden="true">×</span></button>
					<h4 class="modal-title">{{ TitlePopup }}</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-8 col-sm-offset-2 text-center">
							<div class="success-message">
								<div class="row">
									<table class="table">
										<tr class="item-row">
											<td class="item-cell">{{getLocale('Currency name')}}</td>
											<td class="item-cell">{{getLocale('Amount for pay')}}</td>
										</tr>
										<tr class="item-row text-left" ng-repeat="x in AmountForPay">
										  <td class="text-left">{{ x.name }}</td>
										  <td class="text-left">{{ x.amount / 100 }}</td>
										</tr>
									  </table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-outline pull-right" ng-click="ClosePaymentsMessage()">{{getLocale('Ok')}}</button>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="assets/js/vendors.js"></script>
	<script type="text/javascript" src="config-app/config.js"></script>
	<script type="text/javascript" src="assets/js/script.js?ver=2"></script>

</body>
</html>
