<div class="b-cart b-pay-result" >
	<div class="container"  ng-controller="orderCtrl" ng-init="initStatusPay()">
		<div class="row">
			<div class="col-xs-12">
				<div class="text-center">


					<div class="col-xs-12" ng-if="switchPage == 'load'">
						<div class="b-load m-load-catalog text-center" >
							<div class="load-circle"></div>
							<p>{{getLocale('Processing request')}}</p>
						</div>
					</div>


					<div class="success-message" ng-if="switchPage == 'success' || switchPage == 'error' || switchPage == 'not_valid'">

						<p class="success title" ng-show="switchPage == 'success' && !dataArray.textError">{{ getLocale('Payment successful') }}</p>

						<p class="title" ng-show="dataArray.textError">{{ getLocale('Payment was successful. An internal error occurred') }}<br />
							{{ getLocale('Be sure to contact the restaurant') }}</p>

						<p class="item error" ng-show="dataArray.textError">{{ getLocale('Error') }}: {{ dataArray.textError }}</p>

						<p class="error title" ng-show="switchPage == 'error' || switchPage == 'not_valid'">{{ getLocale('Error payment') }}</p>
						<p class="error item" ng-show="switchPage == 'not_valid'">{{ getLocale('Incorrect security code') }}</p>


						<p class="item" ng-show="dataArray.amount">{{ getLocale('Order price') }}: {{ dataArray.amount | filterPrice | filterNumeric }} {{ Currency }}</p>
						<p class="item" ng-show="dataArray.seq_number">{{ getLocale('Number order in the restaurant') }}: {{ dataArray.seq_number }}</p>
						<p class="item" ng-show="dataArray.visit_id">{{ getLocale('ID order') }}: {{ dataArray.visit_id }}</p>
						<br />
						<p class="item" ng-show="dataArray.travel_time">{{ getLocale('Delivery time') }}: {{ dataArray.travel_time }} {{ getLocale('min.') }}</p>
						<p class="item" ng-show="dataArray.rest_phone">{{ getLocale('Restaurant Phone') }}: {{ dataArray.rest_phone }}</p>

<!--
						<div class="b-go-pay" ng-if="switchPage == 'error'">
							<form dynamic-form-action="onlinePay.urlAction" action="" method="post">
								<input type="hidden" name="Merchant_ID" value="{{ onlinePay.merchantId }}" />
								<input type="hidden" name="OrderNumber" value="{{ onlinePay.orderNumber }}" />

								<input type="hidden" name="OrderAmount" value="{{ onlinePay.resultSumOrder }}" />
								<input type="hidden" name="OrderCurrency" value="{{ onlinePay.currency }}" />

								<input type="hidden" name="FirstName" value="{{ finalOrder.firstName }}" />
								<input type="hidden" name="LastName" value="{{ finalOrder.lastName }}" />
								<input type="hidden" name="Email" value="{{ finalOrder.email }}" />
								<input type="hidden" name="MobilePhone" value="{{ finalOrder.phone }}" />
								<input type="hidden" name="URL_RETURN_OK" value="{{ onlinePay.urlReturnSuccess }}" />
								<input type="hidden" name="URL_RETURN_NO" value="{{ onlinePay.urlReturnError }}" />

								<input type="submit" class="btn btn-green" value="{{getLocale('Pay again')}}">
							</form>
						</div>

						-->

						<br />
						<p class="text">
							<!--<a class="more-order btn" ng-href="#/cart" ng-if="switchPage == 'error'">{{ getLocale('Back to cart') }}</a>-->
							<a class="more-order btn" ng-href="#/">{{ getLocale('Order more') }}</a>
						</p>

						<p class="status-order" ng-if="statusOrder">{{ getLocale('Status order') }}: <span class="big">{{ statusOrder }}</span></p>

						<div class="row hidden-map" ng-class="{ 'show-map': showMap }" ng-if="switchPage == 'success'">
							<p class="error-get-coord" ng-if="statusCourierCoord == 'error' && showDetailError">{{ getLocale('Error for get coordinates') }}</p>

							<div class="col-sm-8 col-sm-offset-2">
								<p class="map-title text-center">{{getLocale('Courier location on the map')}}</p>
								<div id="map" class="b-map support-load"></div>
							</div>
						</div>
					</div>



 					<div ng-if="switchPage == 'process'">

						<p class="title">{{ getLocale('Payment is not completed') }}</p>
						<p ng-show="numberOrder">{{ getLocale('Number order') }}: {{ numberOrder }}</p>


						<p class="text"><a class="btn" ng-click="getPayStatus()" >{{ getLocale('Get the payment status') }}</a></p>

						<br />
						<!--<p class="text"><a class="more-order btn" ng-href="#/">{{ getLocale('Back') }}</a></p>-->
					</div>


				</div>
			</div>
		</div>
	</div>
</div>