<div class="b-index-select">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="h-title title text-center">{{getLocale('Select receipt of order')}}</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-md-offset-3 col-xs-6">
				<a ng-href="#/select-address" class="button-main">
					<span class="text">{{getLocale('Delivery')}}</span>
				</a>
			</div>
			<div class="col-md-3  col-xs-6">
				<a ng-href="#/select-restaurant" class="button-main">
					<span class="text">{{getLocale('Self-delivery')}}</span>
				</a>
			</div>
		</div>
	</div>
</div>

